{% from "macros/_misc.html" import render_items_listing, render_pagination, render_categories_listing %}

{% extends 'layouts/base.html' %}

{% set page_title = _("Explore items") %}

{% block container %}
	<div class="row">
    	<h2>{{ _('Items list') }}</h2>
    	<hr>

		{{ render_categories_listing(categories, current_category) }}

		    {{ render_items_listing(items.items) }}

		{{ render_pagination(items, 'items.paginate') }}
	</div>

{% endblock %}

{% block js_btm %}
    {{ super() }}

    <script src="{{ url_for('static', filename='vendors/underscore/underscore-min.js') }}"></script>
{% endblock %}