{% extends 'layouts/base.html' %}

{% set page_title = _("Explore items") %}

{% block container %}
	<div class="row">
    	<h2>{{ _('Items list') }}</h2>
    	<hr>

		<div class="grid">
		{% for item in items.items %}
		<div class="item">
	        <div class="item-info" style="background-image: url( {{ item.get_thumbnail() }});">
		        <a href="{{ url_for('items.detail', item_id=item.item_id) }}">
		        <hgroup>
			        <h5>{{ item.titles | what_title }}</h5>
	   		        <h6 class="subheader">{{ item.submitted_at | prettify }} <em>{{ _('in') }}</em> Category</h6>
	   		    </hgroup>

		        	<!--<h5>{{ item.thumbnail_path }}</h5> -->
	        	</a>
	        </div>
	        <a class="submitter" href="">
	        	<img src="{{ item.submitter.email | gravatar(size=30) }}"> {{ item.submitter }}
	        </a>
	    </div>
	    {% endfor %}
		</div>
	</div>

{% endblock %}

{% block js_btm %}
    {{ super() }}

    <script src="{{ url_for('static', filename='vendors/underscore/underscore-min.js') }}"></script>
{% endblock %}