{% extends 'errors/layout.html' %}

{% set page_title = _("Page not found") %}

{% block body %}

    <h1>404 <strike>{{ _("Bachee") }}</strike></h1>
    <h1>{{ _("Not found") }} <span>:(</span></h1>
    <div class="row text-center">
        <img class="th" src="{{ url_for('static', filename='images/404.jpg') }}" />
         <p> {{ _("Look underneath, you may find something:") }}</p>
    </div>

   
    <form>
        <div class="row">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" name="search" placeholder="search for an item here...">
                </div>
                <div class="small-2 columns">
                    <a href="#" class="button postfix">Go</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
