{% from "macros/_form.html" import render_form %}

{% set page_title = _("About") %}

{% extends "layouts/base.html" %}

{% block body %}

<div class="row">
    <h1>{{ _('About DzLibs project') }}</h1>
    <p>A community-driven Algerian index of reusable assets and libraries. A web app and a set of RESTful APIs to provide a platform for Algerian developers and designers to share reusable resources (Classes, Libraries, Vector files..etc) and easily access them.</p>
    <h3>For instance:</h3>
    <p>You can share/find the XML or JSON of the 48 Algerian Wilayas instead of recreating it every time you need it for your next awesome web/mobile/desktop app. the same goes for the database of the Train/Bus timetable of your city, the Algeria SVG map, the Vector file of <a href="http://en.wikipedia.org/wiki/Maqam_Echahid">Maqam Echahid</a>, and countless other examples, these are *reusable* items we can share for the public good, from developers/designers to developers/designers, for a better Algeria.</p>

    <h3>The APIs part is mostly for developers, it consists of :</h3>

    <p>
        <ul>
            <li>Making <strong>some</strong> of these assets accessible via http(s) requests, for instance: a mobile developer (especially now that we've got the 3G network) could make a GET to <code>api.dzlibs.io/wilayas/23</code> that returns the name of the Wilaya and other on-demand information (e.g. its prayer times).</li>

            <li>pushing for a kind of <strong>standardized</strong> ways to share public data among Algerian developers and different DZ organizations.</li>
        </ul>
    </p>

    <p>These are <strong>just examples</strong>, what we can do and share is countless. we just need to unit, and do the same as our ancestors did, the <strong>Tweeza</strong> of the Algerian web. boosting the IT industry is our shared duty, and for that we need to <strong>share</strong> and think of ourselves as contributors rather than as competitors.</p>
    <h1>Credits</h1>
    <ul>
        <li><a href="https://twitter.com/webdevdz">@webdevdz</a> for the sub-header background image.</li>
        <li><a href="https://twitter.com/djug">@djug</a>, <a href="https://twitter.com/assem_ch">@assem_ch</a>, <a href="https://twitter.com/zendyani">@zendyani</a>, <a href="https://twitter.com/shel3over">@sh3lover</a>, <a href="https://twitter.com/reddines">@reddines</a> and <a href="https://twitter.com/hteghri">@hteghri</a> for their support &amp; early feedbacks.</li>
        <li>The <a href="https://www.facebook.com/groups/dzgeekhangout/">Dz Geek Hangouts</a> crew for supporting the idea.</li>
        <li>All the community out there sharing their items.</li>
    </ul>
</div>
{% endblock %}

