{% from "macros/_misc.html" import render_categories_listing, render_items_listing %}
{% extends 'layouts/base.html' %}

{% set page_title = _("Home") %}

{% block container %}

<div class="container short-header text-center">
  <div class="row headline-down">
    <div class="seven columns">
      <div class="main-headline">
        <div class="push"></div>
        <img src="{{ url_for('static', filename='images/dzlibs-small.png') }}">
        <h2 class="logo-typography"><a href="{{ url_for('frontend.index') }}">Dz Libs</a></h2>
        <h4 class="slogan subheader">{{ _("The Algerian index of reusable assets and libraries") }}</h4>

        <p>{{ _('That is made  of two parts') }}:</p>
        <div class="show-for-small clear"></div>
      </div>

      <div class="row">
        <p class="text-center">
            <a href="http://docs.dzlibsapi.apiary.io/" class="button secondary">{{ _("api") }}</a>
            {{ _('&amp;') }}
            <a href="#" data-reveal-id="tweezaModal" class="button secondary" data-reveal>{{ _("tweeza") }}</a>
        </p>
      </div>
    </div>
  </div>
</div>

    {{ render_categories_listing(categories) }}

    {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="row">
                {% for category, msg in messages %}
                    <div data-alert class="alert-box {{ category }}">
                        {{ msg }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
    {% endblock %}

    {{ render_items_listing(items) }}

    {% if items.count() > 12 %}
        <div class="row">
            <a href="{{ url_for('items.paginate', page=1) }}" class="button secondary expand">{{ _('Explore more') }}</a>
        </div>
    {% endif %}


    <div id="tweezaModal" class="reveal-modal small" data-reveal>
        <h4>{{ _("Well, you're already in the <strong>Tweeza</strong> part :)") }}</h4>
        <p class="lead">{{ _("So, let's define sharing items here, as <code>tweezing</code>, the remarkable Algerian tradition our ancestors did <i class='fi-heart'></i> So why not, we, developers/designers, do the same? online!") }}</p> 
        <p>{{ _("Confused? you may check the") }} <a href="{{ url_for('frontend.about') }}">{{ _('about page') }}</a> {{ _("then...") }}</p>
        <a class="close-reveal-modal">&#215;</a>
        <a class="button secondary expand" onclick="$('#tweezaModal').foundation('reveal', 'close');">{{ _("Cool!") }}</a>
    </div>


{% endblock %}

{% block js_btm %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendors/underscore/underscore-min.js') }}"></script>
{% endblock %}