{% from "macros/_form.html" import render_form %}

{% set page_title = _("Sign in") %}

{% extends "layouts/base.html" %}

{% block body %}

<div class="row">

    <div class="push"></div>

    <div class="row text-center">
        <h1 class="subheader">{{ _('Login with github') }}</h1>
        <h2>
            <a href="{{ url_for('frontend.oauth_github') }}" class="button secondary large">
            <i class="fi-social-github large"></i>
                {{ _("Sign in/up with Github") }}
            </a>
        </h2>
        <h2 class="subheader">Other Logging options</h2>
        <h5 class="subheader">Other Logging options will -maybe- available later.</h5>
        <h5 class="subheader">However, we highly recommend logging with Github, as we wont be storing any password of yours and is developer-oriented.</h5>
        <h5 class="subheader">if you do not have a Github account, you can register for a new one <a href="https://github.com/join">here</a>.</h5>
    </div>


</div>
{% endblock %}

