{% from "macros/_misc.html" import render_pagination, render_items_listing %}

{% extends 'layouts/base.html' %}

{% set page_title = _("Tag") %}

{% block container %}
    <div class="row">
        <h2>{{ _('Items tagged with') }}: {{ tag }}</h2>
        <hr>

        {{ render_items_listing(items.items) }}

    </div>

    {{ render_pagination(items, 'frontend.tag', tag) }}

{% endblock %}

{% block js_btm %}
    {{ super() }}

    <script src="{{ url_for('static', filename='vendors/underscore/underscore-min.js') }}"></script>
{% endblock %}