@import "settings";
@import "variables";
@import "foundation";
@import "foundation-icons";
@import "compass/utilities";

body {
   background-color: $background-color;
   font-family: $body-font-family !important;
}

textarea {height: auto;}

.tabs {
    dd{
        a { 
            border: 1px solid #DDD;
            border-top: none; border-left: none;
        }
        &:last-child a { border-right: none; }
    }
}

.accordion {
    dd {
        a { 
            border: 1px solid #DDD; 
            margin-top: 5%;
        }

        > div.content {
            background-color: transparent !important;
            border: 1px solid #DDD;
            border-top: none;
        }
    }
}

.short-header {
    background: url('../images/subheader-background.jpg') no-repeat scroll 50% 50% #fa9e00;
    /* background: none repeat scroll 0% 0% rgb(175, 201, 8);*/
    margin-bottom: 40px;

    h1, h2, h3, h4, h5, h6 {
        color: white;
        a {
            color: white;
            font-weight: bold;
        }
    }
}

.logo-typography {
    a {
        color: #2B1100 !important;
    }
}

.slogan {
    font-weight: bold;
}

.footer-bottom {
    background: none repeat scroll 0% 0% rgb(51, 51, 51);
    color: #5B5B5B !important;

    p {
        padding: 30px 0px 0px;
     /* font-weight: bold !important; */
        font-size: 17px;
    }


    ul {
        &.home-social {
             display: block;
            float: right;
            font-size: 45px;
            a {
                color: #5B5B5B !important;
                &:hover { 
                     color: #0079A1 !important;
                }
            }

        }

    }
}

.push {
    margin-bottom: 6%;
}

.item { 
    border: 1px solid gray;
    border-radius: 1px;
    display: block; 
    float: left;
    margin: 13px;
}

.submitter {
    display: block;
    background-color: white;
    margin: 0;
    border-top: 1px dashed gray;
    img {
        margin: 5px;
    }
    color: #595959;
    font-weight: bold;
    font-size: 13px;
    .category {
        display: block;
    }
    &:hover { background-color: #F1F1F1; }
}

.item-info {
    margin: 0px;
    width: 230px;
    height: 330px;
    img {
        z-index: -1;
        overflow: hidden;
        opacity: 0.5;
    }
    hgroup {
        margin: 3px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 1px;
        z-index: 100;
        overflow: hidden;
    }
}

.grid {
        margin: 0 auto;
        position: relative;
}

.gridItem {
        background: #e0e0e0;
        border-radius: 3px;
        box-sizing: border-box;
        color: #aaa;
        font-size: 13px;
        padding: 5px;
        position: absolute;
}

.thumbnail {
    border: 2px dashed gray;
    border-bottom: none;
    width: 230px;
    height: 300px;
    z-index: 11115;
}

.thumbnail-button {
    width: 230px; 
}

#files {
  padding: 5%;
  width: 100%;
  border: 2px dashed #A7A7A7;
  border-radius: 5px;
}

#files:hover{
    border: 2px dashed gray;
}

div.drag { 
    min-width: 100px; 
    margin-top: -25px; 
    padding-left: 10px; 
    font-size: 12px;
}

.dropzone-previews {
    border: 2px dashed gray;
    border-radius: 5px;
    padding: 5%;
}

.dfiles{ 
    clear:both; 
    border:1px solid #ccc; 
    background-color:#E4E4E4; 
    padding:3px;  
    position:relative; 
    height:25px; 
    margin:3px; 
    z-index:1; 
    width:97%; 
    opacity:0.6; 
    cursor:default;
}

.markdown {
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif !important;
    background-color: white;
    line-height: 1.7;
    overflow: hidden;
    word-wrap: break-word;
    color: #333;
    pre {
        background-color: #F8F8F8;
        border: 1px solid #DDD;
        line-height: 19px;
        overflow: auto;
        padding: 6px 10px;
        border-radius: 3px; 
        code {
            padding: none;
            border: none;
            color: #333;
            font-size: 13px;
            font-family: Consolas,"Liberation Mono",Courier,monospace;
            font-weight: normal;
        }
    }
    code {
        padding: 4px;
        background-color: #F8F8F8;
        border: 1px solid #DDD;
        border-radius: 3px; 
        color: #333;
        font-size: 13px;
        font-family: Consolas,"Liberation Mono",Courier,monospace;
        font-weight: normal;
    } 
    
    p { font-size: 15px; }

    h1, h2, h3, h4, h5, h6 {
        font-size: 15px;
        margin: 1em 0px 15px;
        padding: 0px;
        font-weight: bold;
        line-height: 1.7;
        cursor: text;
        position: relative;
    }

    h1 {
        font-size: 2.8em !important;
        border-bottom: 1px solid #DDD;
    }
}

.submitter_details {
    border: none;
    padding: 10px;
}

.circle {
    border: none;
    border-radius: 50%;
    display: inline-block;
    img {
        border-radius: 50%;
        display: block;
    }
}

.items_details_title {
    font-weight: bold;
    color: #333;
}

.tags {
    padding: 6px;
    border: 1px dashed #DDD;
    border-left: none; border-right: none;
    .button.tiny {
        font-size: 13px;
        i {
            font-size: 15px;
        }
    }
}

.user-socials {
    font-size: 30px;
    a {
        color: #DADADA;
        &:hover { color: #333}
    }
}

.search-input {
    background: #444 !important;
    color: white !important;
    border: #333 !important;
}